/********** Font ***********/
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=VT323&display=swap");
/* font-family: 'VT323', monospace;
font-family: 'Indie Flower', cursive; */

* {
  padding: 0;
  margin: 0;
  font-family: "Indie Flower", cursive;
  box-sizing: border-box;
  list-style: none;
}

body {
  text-align: center;
  padding: 0;
  margin: 0;
  color: white;
  min-height: 200vh;
  overflow-x: hidden;
}

.box {
  border: 6px solid white;
  transition: 1s ease;
  background-color: black;
  padding: 10px;
}

p {
  visibility: hidden;
  width: 240px;
  margin: 10px auto 0;
  opacity: 0;
  transition: 1s;
  transform: translateX(-250px);
}

.question-clicked {
  background-color: rgb(3, 30, 53);
  border-radius: 30px;
  border: 6px dashed yellow;
}

.show-response {
  visibility: visible;
  opacity: 50;
  background-color: darkolivegreen;
  transform: translateX(0px);
}

.mousemove {
  height: 50px;
  width: 50px;
  border: 2px solid rgba(69, 69, 177, 0.562);
  position: absolute;
  border-radius: 50px;
  transform: translate(-50%, -50%);
  transition: 0.5s ease;
  z-index: -1;
}

.cadre {
  background-color: rgba(138, 136, 17, 0.651);
}

.rotate {
  transform: rotate(180deg);
  transition: 3s ease-in-out;
}

nav {
  background-color: blueviolet;
  position: fixed;
  width: 100%;
  height: 50px;
  top: -50px;
  transition: 0.7s;
}

nav::after {
  content: "";
  height: 150px;
  width: 150px;
  background: radial-gradient(
    circle closest-side,
    rgb(204, 51, 51),
    transparent
  );
  position: absolute;
  transform: translate(-50% -50%);
  transition: 0.3s;
  opacity: 0;
  z-index: 2;
  left: var(--x);
  top: var(--y);
}

nav:hover::after {
  opacity: 1;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
}

.reduc {
  transform: scale(0, 8);
}
