@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
/* font-family: 'VT323', monospace; */

body {
  overflow: hidden;
  min-height: 100vh;
  background-color: pink;
  cursor: crosshair;
  font-family: "VT323", monospace;
}

.bubble {
  position: absolute;
  border-radius: 300px;
  background: rgba(255, 166, 0, 0.6);
  opacity: 0;
  animation: anim 8s forwards;
  filter: hue-rotate(0deg);
}
@keyframes anim {
  to {
    top: -250px;
    left: var(--left);
    opacity: 2;
    filter: hue-rotate(700deg);
  }
}

h3 {
  font-size: 10rem;
  text-align: center;
  margin-top: center;
  color: rgba(128, 128, 128, 0.897);
}
